In [1]:
import json     #will be used for saving preprocessing details
import numpy as np      # For data manipulation
import pandas as pd     # For data manipulation
from sklearn.model_selection import train_test_split    # To split the data
from sklearn.preprocessing import LabelEncoder      # For preprocessing
from sklearn.ensemble import RandomForestClassifier     # Algorithms for training
from sklearn.ensemble import ExtraTreesClassifier      # Algorithms for training 
import joblib     # To save the model and preprocessing objects

In [2]:
# Load dataset
df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)
x_cols = [c for c in df.columns if c!='income']

X = df[x_cols]
y = df['income']

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# splitting the data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1223)

In [5]:
X_train[X_train["workclass"]=="Private"]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
22563,21,Private,141453,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States
1993,50,Private,112351,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Male,0,0,38,United-States
28663,54,Private,128378,Some-college,10,Widowed,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States
10199,45,Private,255014,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States
13485,31,Private,215297,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17471,39,Private,270059,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,35,United-States
3321,37,Private,189922,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States
20980,30,Private,111415,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
6004,52,Private,99307,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,3103,0,48,United-States
32375,59,Private,395736,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States

In [6]:
# filling missing values
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)
print(train_mode)

{'age': 31.0, 'workclass': 'Private', 'fnlwgt': 113364, 'education': 'HS-grad', 'education-num': 9.0, 'marital-status': 'Married-civ-spouse', 'occupation': 'Prof-specialty', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital-gain': 0.0, 'capital-loss': 0.0, 'hours-per-week': 40.0, 'native-country': 'United-States'}

In [7]:
# convert categoricals

encoders = {}
for column in ['workclass', 'education', 'marital-status',
                'occupation', 'relationship', 'race',
                'sex', 'native-country']:
    
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = categorical_convert

In [8]:
# Train the RF algorithm

rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)

In [9]:
# Train ExtraTrees Algorithm

et = ExtraTreesClassifier(n_estimators=100)
et = et.fit(X_train, y_train)

In [10]:
# Saving the preprocessing objects and RF algorithms

joblib.dump(train_mode, "./train_mode.joblib", compress=True)
joblib.dump(encoders, "./encoders.joblib", compress=True)
joblib.dump(rf, "./random_forest.joblib", compress=True)
joblib.dump(et, "./extra_trees.joblib", compress=True)

['./extra_trees.joblib']